
/************************************************/
/* Pantalla principal y caja contraseña para    */
/* completa  salir de pantalla                  */
/************************************************/

#modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.container {
    font-family: Arial;
    font-size: small;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#password-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.password-button {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.password-button:hover {
    background-color: #ccc;
}
#password-display {
    margin-bottom: 10px;
    font-size: 16px;
}
#message {
    color: red;
}
#fullscreen-button, #exit-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
}
#exit-button {
    left: auto;
    right: 10px;
    background-color: #f44336;
}


/************************************************/
/* Pantalla principal e imagenes publicidad */
/************************************************/

#contenedor { 
    width: 100%;
    /* width: 786px; */
    position: relative;
}
#contenedor img { 
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#contenedor img.active {
    opacity: 1;
}
.botones { margin-top: 10px; }
.botones button { margin-right: 5px; }

/* CSS de anterior */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    z-index: -1;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
}
#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Configura botones laterales */
.responsive-image {
    width: 100%;
    max-width: 1920px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.button-container {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.round-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(243, 243, 243, 0.4);
    color: hsl(0, 0%, 19%);
    border: none;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.round-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/************************************************/
/* End pantalla principal e imagenes publicidad */
/************************************************/


/************************************************/
/* Pantallas apartados                          */
/************************************************/



.fondo-imagen {
    background-image: url('./imagenes/fondo-kiosco.jpg');
    background-size: cover;
    background-position: center;
    width: 786px;
    height: 1397px;
    margin: 0 auto;
}

@media (max-width: 786px) {
    .fondo-imagen {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
}

.fondo-infografia {
    background-image: url('./imagenes/fondo-infografia.jpg');
    background-size: cover;
    background-position: center;
    width: 786px;
    height: 1397px;
    margin: 0 auto;
}

@media (max-width: 786px) {
    .fondo-infografia {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
}


.fondo-imagen-lugares-emblematicos {
    background-image: url('./imagenes/lugares-emblematicos/fondo-lugares-emblematicos.jpg');
    background-size: cover;
    background-position: center;
    width: 786px;
    height: 1397px;
    margin: 0 auto;
}

@media (max-width: 786px) {
    .fondo-imagen-lugares-emblematicos {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
}


.fondo-imagen-lugares-emblematicos-santa-maria-magdalena {
    background-image: url('./imagenes/lugares-emblematicos/fondo-lugares-emblematicos-santa-maria-magdalena.jpg');
    background-size: cover;
    background-position: center;
    width: 786px;
    height: 1397px;
    margin: 0 auto;
}

@media (max-width: 786px) {
    .fondo-imagen-lugares-emblematicos-santa-maria-magdalena {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
}

.fondo-imagen-santuario-santamaria-magdalena-entrada-qr {
    background-image: url('./imagenes/lugares-emblematicos/fondo-lugares-emblematicos-santa-maria-magdalena-QR.jpg');
    background-size: cover;
    background-position: center;
    width: 786px;
    height: 1397px;
    margin: 0 auto;
}

@media (max-width: 786px) {
    .fondo-imagen-santuario-santamaria-magdalena-entrada-qr {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
}

.fondo-imagen-santuario-santamaria-magdalena-video-virtual {
    background-image: url('./imagenes/lugares-emblematicos/fondo-lugares-emblematicos-santa-maria-magdalena-video.jpg');
    background-size: cover;
    background-position: center;
    width: 786px;
    height: 1397px;
    margin: 0 auto;
}

@media (max-width: 786px) {
    .fondo-imagen-santuario-santamaria-magdalena-video-virtual {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
}


.fondo-imagen-lugares-emblematicos-casa-museo {
    background-image: url('./imagenes/lugares-emblematicos/fondo-lugares-emblematicos-casa-museo.jpg');
    background-size: cover;
    background-position: center;
    width: 786px;
    height: 1397px;
    margin: 0 auto;
}

@media (max-width: 786px) {
    .fondo-imagen-lugares-emblematicos-casa-museo {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
}


.fondo-imagen-lugares-emblematicos-centro-cultural {
    background-image: url('./imagenes/lugares-emblematicos/fondo-lugares-emblematicos-centro-cultural.jpg');
    background-size: cover;
    background-position: center;
    width: 786px;
    height: 1397px;
    margin: 0 auto;
}

@media (max-width: 786px) {
    .fondo-imagen-lugares-emblematicos-centro-cultural {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
}





.fondo-imagen-eventos {
    background-image: url('./imagenes/eventos/fondo-eventos.jpg');
    background-size: cover;
    background-position: center;
    width: 786px;
    height: 1397px;
    margin: 0 auto;
}

@media (max-width: 786px) {
    .fondo-imagen-eventos {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
}

.fondo-imagen-teatro {
    background-image: url('./imagenes/eventos/fondo-teatro.jpg');
    background-size: cover;
    background-position: center;
    width: 786px;
    height: 1397px;
    margin: 0 auto;
}

@media (max-width: 786px) {
    .fondo-imagen-teatro {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
}


.fondo-imagen-alojamientos {
    background-image: url('./imagenes/alojamientos/fondo-alojamientos.jpg');
    background-size: cover;
    background-position: center;
    width: 786px;
    height: 1397px;
    margin: 0 auto;
}

@media (max-width: 786px) {
    .fondo-imagen-alojamientos {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
}

.fondo-imagen-alojamientos-web {
    background-image: url('./imagenes/alojamientos/fondo-alojamiento-web.jpg');
    background-size: cover;
    background-position: center;
    width: 786px;
    height: 1397px;
    margin: 0 auto;
}

@media (max-width: 786px) {
    .fondo-imagen-alojamientos {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
}





.fondo-imagen-teatro-reserva-qr {
    background-image: url('./imagenes/eventos/fondo-teatro-reserva-qr.jpg');
    background-size: cover;
    background-position: center;
    width: 786px;
    height: 1397px;
    margin: 0 auto;
}

@media (max-width: 786px) {
    .fondo-imagen-teatro-reserva-qr {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
}

.img-reducida-teatro-reserva-qr {
    width: 380%;
    height: auto;
}


.fondo-imagen-gastronomia {
    background-image: url('./imagenes/gastronomia/fondo-gastronomia.jpg');
    background-size: cover;
    background-position: center;
    width: 786px;
    height: 1397px;
    margin: 0 auto;
}

@media (max-width: 786px) {
    .fondo-imagen-gastronomia {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
}


.fondo-imagen-gastronomia-burguer {
    background-image: url('./imagenes/gastronomia/fondo-gastronomia-burguer.jpg');
    background-size: cover;
    background-position: center;
    width: 786px;
    height: 1397px;
    margin: 0 auto;
}

@media (max-width: 786px) {
    .fondo-imagen-gastronomia-burguer {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
}



.fondo-imagen-gastronomia-burguer-turka {
    background-image: url('./imagenes/gastronomia/fondo-gastronomia-burguer-turka.jpg');
    background-size: cover;
    background-position: center;
    width: 786px;
    height: 1397px;
    margin: 0 auto;
}

@media (max-width: 786px) {
    .fondo-imagen-gastronomia-burguer-turka {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
}



.fondo-imagen-promos {
    background-image: url('./imagenes/promos/fondo-promos.jpg');
    background-size: cover;
    background-position: center;
    width: 786px;
    height: 1397px;
    margin: 0 auto;
}

@media (max-width: 786px) {
    .fondo-imagen-promos {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
}


.fondo-imagen-promos-video {
    background-image: url('./imagenes/promos/fondo-promos-video.jpg');
    background-size: cover;
    background-position: center;
    width: 786px;
    height: 1397px;
    margin: 0 auto;
}

@media (max-width: 786px) {
    .fondo-imagen-promos-video {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
}


.fondo-imagen-lugares-emblematicos-santa-maria-magdalena {
    background-image: url('./imagenes/lugares-emblematicos/fondo-lugares-emblematicos-santa-maria-magdalena.jpg');
    background-size: cover;
    background-position: center;
    width: 786px;
    height: 1397px;
    margin: 0 auto;
}

@media (max-width: 786px) {
    .fondo-imagen-lugares-emblematicos-santa-maria-magdalena {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
}



.btn-custom {
    /* background-color: transparent;
    border: 2px solid white;
    color: white; */
    border: 0px;
    transition: all 0.3s ease;
}

.btn-custom:active {
    transform: scale(0.95);
    /* background-color: rgba(255, 255, 255, 0.2); */
}

.img-reducida {
    width: 95%;
    height: auto;
}

.img-reducida-promocion {
    width: 110%;
    height: auto;
}
